body{
  font-family: Arial, Helvetica, sans-serif;  
  padding-top: 51px;
}
h2{
    color:#D44D05;
}
.admin-navigation ul, li{
	display:inline;
	padding-right: 5px;
        margin: 0 auto;
}
#header{
    width:75%;
    margin:0 auto 51px;
}
.logo{
    border-bottom: 2px solid #D44D05;
    padding-bottom:3px;
    margin-bottom:15px;
    
    color:#D44D05;
    font-family:'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight:bold;
}
.topNav{
    width:558px;
    margin:0 auto 47px;
}

.clr{
    float:none;
    clear:both;
}
#sddm
{
    margin: 0;
    padding: 0;
    z-index: 30;
}

#sddm li
{	
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 11px arial;
    
    border-left: 1px solid #D44D05;
    border-top: 1px solid #D44D05;
    border-bottom: 1px solid #D44D05;
}
#sddm li.last
{	
    border-right:1px solid #F36621;    
}    
#sddm li a
{	display: block;
	margin: 0 0px 0 0;
	padding: 4px 10px;
	background: #FFF;
	color: #D44D05;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #D44D05;
        color:#ffffff;
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #D44D05;
	border: 1px solid #ED8555;
}

#sddm div a
{	position: relative;
        display: block;
        margin: 0;
        padding: 5px 10px;
        width: auto;
        white-space: nowrap;
        text-align: left;
        text-decoration: none;
        background: #D44D05;
        color: #FFFFFF;
        font: 11px arial;
}
#sddm div a:hover
{	background: #FFFFFF;
        color: #F36621;
}
#sddm div a.subSelect
{	background: #FFFFFF;
        color: #D44D05;
}
#sf_admin_container{
    margin:0 auto;
    width:75%;
}
#sddm li a.current{
    background: #D44D05 !important;
    color: #FFFFFF !important;
}
a.label{
   background: #FFFFFF !important;
   color: #000000 !important; 
}

div.tableHeading{
    width:75%;
    margin: 0 auto;   
}
div.tableHeading span{
    background-color: #D44D05;
    color:#ffffff;
    line-height: 18px;
    padding-right:15px;
    padding-left:5px;
}
table.tblAlign{
    margin:0 auto !important;
    border-top: 1px solid #D44D05 !important;
    border-left: 1px solid #D44D05 !important;
    
  
    font-family: Arial,sans-serif;
    font-size: 12px
}
td{
   border-bottom: 1px solid #D44D05 !important; 
   border-right: 1px solid #D44D05 !important;
}
td.last{
   border-right: 0px !important; 
}
tr.headings{
   background-color: #ffffff !important;
   color:#D44D05 !important; 
}
tr.headings th{
   border-right: 1px solid #D44D05 !important; 
   border-bottom: 1px solid #D44D05 !important;
}
tr.headings th.last{
   border-right: 0px !important; 
}
.alert_bar{
    font-size: 12px;
}
ul.customerMenu{
   width:75%;
   margin:0 auto 10px;
   padding: 0;
   font-size: 13px;
}
ul.customerMenu li{
   display:inline;
   margin:0;
}
ul.customerMenu li a{
   font-size: 11px;
}
.tblLogin{
    border:0px !important;
}
.tblLogin td{
    border:0px !important;
}
tr.even{
    background-color:#FFFFFF;
}
tr.odd{
    background-color:#FCD9C9;
}
.tblLogin label {
    color:#D44D05;
}